# Directories 
BOXB_group/
DDRP/
Final_figures/
Notes/
Scripts/Other/
CLIMEX/CSVs/
CLIMEX/Figures/
CLIMEX/Notes/
CLIMEX/Runs/
CLIMEX/TIF_files/
ENMeval/
ENMTML/Notes/
ENMTML/Outfiles/
ENMTML/Correlation_vars/
ENMTML/All_vars/Predictors/EUR_b1_19/
ENMTML/All_vars/Predictors/EUR_NA_CliMond/
ENMTML/All_vars/Predictors/Projection_PCA/
ENMTML/Sub_vars/
Records/Emails/
Records/Final_MS_table/
Records/GBIF/
Records/Other_sources/
Records/Subsampled/
Records/Cps_locations_subm_Nov2021.xlsx
Records/Cps_locations_updated_Apr2022.xlsx
Records/NPDN/
Reports/
Web_app/

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
